@import "tailwindcss";

.markdown-body {
  @apply space-y-2;
}
.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  @apply font-bold mt-4 mb-2;
}
.markdown-body p {
  @apply mb-2;
}
.markdown-body ul {
  @apply list-disc pl-5 mb-2;
}
.markdown-body ol {
  @apply list-decimal pl-5 mb-2;
}
